{{ define "title" }} 
  {{ title (i18n (lower .Title)) | default .Title }} | {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container list">
    <!-- MY CUSTOM -->
    <h1 class="title"> {{ title (i18n (lower .Title)) | default .Title }} </h1>
    <!-- END -->
    {{ .Content }}
<!--    {{ .Description }} -->

    {{- range .Paginator.Pages -}} 
        {{- .Render "li" -}}
    {{- end -}}

    {{ partial "pagination.html" . }}
  
  <!-- RECOMENDAÇÕES CURSOS -->
  <h3>Cursos que recomendo</h3>
  <ul>
    <li><a href="https://bit.ly/LINUXPROFISSIONAL" target="_blank">[LINUX] - Formação Linux Completa: Do Básico ao Avançado</a></li>
    <li><a href="http://bit.ly/PreparatorioLPIC1" target="_blank">[LINUX] - Preparatório para Certificação Linux LPIC-1</a></li>
    <li><a href="http://bit.ly/REDES_I" target="_blank">- [REDES I] Arquitetura de Redes</a></li>
    <li><a href="http://bit.ly/REDES_II" target="_blank">- [REDES II] Redes TCP/IP</a></li>
    <li><a href="http://bit.ly/LOGICA_PROGRAMACAO" target="_blank">- [PROGRAMAÇÃO] Curso de Lógica de Programação - YouTube</a></li>
    <li><a href="http://bit.ly/PROGRAMACAO_PYTHON" target="_blank">- [PROGRAMAÇÃO] Curso em vídeo - Python - YouTube</a></li>
  </ul> 
  <!-- --> 

  </section>
{{ end }}
