<section class="container centered">
  <div class="about" style="width: 500px">
    {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
      {{ with .Site.Params.avatarurl }}
        <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
      {{ end }}
    {{ end }}
    {{ with .Site.Params.gravatar }}
      <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar"></div>
    {{ end }}
    <h1 style="margin: 4px">{{ .Site.Params.author }}</h1>
    <h6 style="color:#1565c0; margin: 0">{{ .Site.Params.info }}</h6> <!-- h2 -->
    <p >{{ .Site.Params.description }}</p>

<!-- HERE - MY CUSTOM -->
    <div id="links">
    {{ with .Site.Menus.main}}
          {{ range sort . }}
            <a class="link {{ .Post }}" {{ with .Post }}style="background-color: mediumblue;"{{ end }} href="{{ .URL }}" target="{{ .Parent }}"> {{ .Pre }} {{ .Name }}</a> <!--{{ .URL | relLangURL }}-->
            <p style="text-align=left">ddd</p>
          {{ end }}
    {{ end }}
    </div>
<!-- END -->

    {{ with .Site.Params.social }}
    <ul>
      {{ range sort . "weight" }}
        {{ if .icon }}
          <li>
            <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} target="_blank" {{ if .type }}type="{{ .type }}"{{ end }}>
              <i class="{{ .icon }}" aria-hidden="true"></i>
            </a>
          </li>
        {{ else }}
          <li>
            <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} target="_blank">{{ .name }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    {{ end }} 

<!-- HERE - MY CUSTOM -->
      <div class="content">
      <section class="container">
        {{- range ( where site.RegularPages "Section" "post" | first 2 ) }}
         <div class="about">
                <time>{{ .PublishDate.Format "02 January 2006" }}</time>
                <a href="{{ .Permalink }}">
                    <h3>{{ .Title }}</h3>
                    <p >{{ .Description }}</p>
                </a> </div>
            {{- end }}
     </section>
     </div>
<!-- END -->

  </div>
</section>
