<!-- MY CODE -->
    <h2>Gostou do conteúdo?</h2>
    <p>{{ i18n "hi_i_am" }} <strong><a href="{{ .Site.BaseURL }}">{{ .Site.Params.author }}</a></strong>, um desenvolvedor web independente, 
    administrador de sistemas Linux e solucionador de problemas nato. Mirando a ciência de dados!</p>

    <p><strong>{{ i18n "looking_for_help" }}</strong> Estou disponível para ser contratado como <a href="/contato/">consultor ou freelancer</a>. 
    Quer entrar em contato? Dá uma olhada na minha <a href="/contato/">página de contato</a>. Abraços!</p>

    <p>Ah... <strong>quase esquecendo</strong>, <strong><a href="https://app.picpay.com/user/ricardoferreira.tec" target="_blank">
    aceito um café</a></strong> ☕ </p>
   
