{{ with .Site.Params.social }}
    <div class="centered">
    <div class="about">
    <ul>
      {{ range sort . "weight" }}
        {{ if .icon }}
          <li>
            <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} target="_blank" {{ if .type }}type="{{ .type }}"{{ end }}>
              <i class="{{ .icon }}" aria-hidden="true"></i>
            </a>
          </li>
        {{ else }}
          <li>
            <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} target="_blank">{{ .name }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    </div>
    </div>
{{ end }}
