{{ define "title" }}
  {{ .Title }} | {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container post">
    <article>
      <header>
        <div class="post-title">
         <!-- MY CUSTOM -->
	  {{ if .Params.subtitle }}
            <p class="stories-title" style="color: #c80000">
                <strong>{{ .Params.subtitle }}</strong>
            </p>
          {{ end }}
         <!-- END -->
          <h1 class="title">{{ .Title }}</h1>
        </div>
        <!-- MY CUSTOM -->
        {{ partial "posts/meta.html" . }}
        <!-- ENd -->
      </header>

      <div>
        {{ if .Params.featured_image }}
          <img src='{{ .Params.featured_image }}' alt="Featured image"/>
        {{ end }}
        <!-- MY CUSTOM -->
        <!-- INSERT TEXT OR PARTIAL AFTER X PARAGRAPH -->
<!--        {{ range $index, $element := split .Content "</p>" }}
         {{ $element | safeHTML }}</p>
          {{ if eq $index 2 }}
           <!-- THE TEXT/CODE YOU WANT TO SHOW HERE (OR A PARTIAL) 
           {{ partial "convertkit_inline_form.html" . }}
          {{ end }}
        {{ end }}-->

<!--        {{ $content := replace .Content "[ADSENSE]" ( partial "adsense-inarticle.html" .) }}  -->
<!--        {{ $content := replace .Content "[FORM_CONVERTKIT]" ( partial "convertkit_inline_form.html" .) }}  -->
         {{ $content | safeHTML }}  
<!--        {{ .Content }}  -->
      </div>

      <footer>
       <!-- MY CODE -->
        {{ partial "convertkit_inline_form.html" . }}
       <!-- END -->
        {{ partial "posts/series.html" . }}
        {{ partial "posts/disqus.html" . }}
        {{ partial "posts/commento.html" . }}
        {{ partial "posts/utterances.html" . }}
        <!-- MY CODE -->
        {{ partial "posts/box-author.html" . }}
        {{ partial "posts/box-help-correct-post.html" . }}
        <!-- END -->
      </footer>
    </article>
    {{ partial "posts/math.html" . }}
  </section>
<!-- FLOAT RIGHT --> 
<!-- <script async data-uid="f392825caa" src="https://ricardoferreira.ck.page/f392825caa/index.js"></script> -->
{{ end }}
