{{ define "main" -}}

<h1>{{ .Title }}</h1>
<hr/>

<div class="row mb-2">
{{ range .Data.Pages -}}
        <div class="col-sm-12 col-md-12 col-xl-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">
		{{ .Params.update }}
              </strong>
              <h3 style="margin-top: 0" class="mb-0">
                <a class="text-dark" target="_blank" href="https://{{ .Params.url }}">{{ .Title }}</a>
              </h3>
              <div class="mb-1 text-muted">
		<div class="ratings">
		  <div class="empty-stars"></div>
		  <div class="full-stars" style="width: {{ .Params.percentage_star }}%"></div>
		</div>
                <small>({{ .Params.grade }} / 5)</small>
	      </div>
              <p class="card-text mb-auto">{{ .Summary }}</p>
              <a target="_blank" href="https://{{ .Params.url }}" style="margin-top: 15px" class="btn btn-success btn-block">Quero esse curso</a>
            </div>
<!--		<img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16eb29d590b%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16eb29d590b%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2253.3828125%22%20y%3D%22132.2%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 200px; height: 250px;"> -->
          </div>
        </div>
{{ end }}
</div>

{{- end }}


